<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Newuser</servlet-name>
        <servlet-class>Newuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gotocheck</servlet-name>
        <servlet-class>gotocheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>responsetouser</servlet-name>
        <servlet-class>responsetouser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allow</servlet-name>
        <servlet-class>allow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blockusr</servlet-name>
        <servlet-class>blockusr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadfile</servlet-name>
        <servlet-class>downloadfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>Encryption.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendtpa</servlet-name>
        <servlet-class>sendtpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendtpa1</servlet-name>
        <servlet-class>sendtpa1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateUser</servlet-name>
        <servlet-class>Encryption.AuthenticateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChunkingFile</servlet-name>
        <servlet-class>Encryption.ChunkingFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encrypt</servlet-name>
        <servlet-class>Encryption.Encrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Java_Decryption</servlet-name>
        <servlet-class>Encryption.Java_Decryption</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Newuser</servlet-name>
        <url-pattern>/Newuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gotocheck</servlet-name>
        <url-pattern>/gotocheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>responsetouser</servlet-name>
        <url-pattern>/responsetouser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allow</servlet-name>
        <url-pattern>/allow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blockusr</servlet-name>
        <url-pattern>/blockusr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadfile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendtpa</servlet-name>
        <url-pattern>/sendtpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendtpa1</servlet-name>
        <url-pattern>/sendtpa1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateUser</servlet-name>
        <url-pattern>/AuthenticateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChunkingFile</servlet-name>
        <url-pattern>/ChunkingFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encrypt</servlet-name>
        <url-pattern>/Encrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Java_Decryption</servlet-name>
        <url-pattern>/Java_Decryption</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
